{% extends 'base.html.twig' %}
{% block title %}Contactez-moi - Les Ecrits de Lyndia{% endblock %}


{% block body %}
    <h1 class="titlePost">Ecrivez votre demande </h1>
    <div class="bloc">
        {{ include('contact/_form.html.twig') }}
    </div>    
{% endblock %}
