{% extends 'base.html.twig' %}

{% block title %}Edit Library{% endblock %}

{% block body %}
    <h1>Edit Library</h1>

    {{ include('library/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_library_show', {'id': library.id}) }}">Retour à la bibliothèque</a>


{% endblock %}
