{% extends 'base.html.twig' %}

{% block title %}Mon compte - Les Ecrits de Lyndia{% endblock %}

{% block body %}

    <h1 class="titlePost">Modification de compte ! </h1>
    <div class="bloc">
    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    </div
{% endblock %}
